body {
  opacity: 0;
}

/* --------------------- Navbar Scroll Styles --------------------- */
.navbar {
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.navbar--bg {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* --------------------- Eyebrow Animation Styles --------------------- */
[animation="eyebrow"] {
  position: relative;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

[animation="eyebrow"] .char {
  display: inline-block;
  letter-spacing: 0.05em;
  will-change: transform, opacity;
}

[animation="eyebrow"] .space {
  display: inline-block;
  white-space: pre;
}
