body {
  opacity: 0;
}

/* --------------------- Navbar Scroll Styles --------------------- */
.navbar {
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.navbar--bg {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* --------------------- Eyebrow Animation Styles --------------------- */
[animation="eyebrow"] {
  overflow: hidden;
  display: inline-block;
}

[animation="eyebrow"] .char {
  display: inline-block;
}
